<footer class="site-footer">
  <div class="wrapper">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    <div class="social-links">
      <a href="mailto:ibcmanagement@outlook.com"><i class="fas fa-envelope"></i></a>
      <a href="https://www.facebook.com/groups/internationalberlinhiking" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/internationalberlincommunity/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
      <a href="https://chat.whatsapp.com/KvFKTUWcWrd6lhff5YlIow" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
    </div>
    <p class="footer-contact"><a href="/contact/">Contact Us</a> | <a href="/impressum/">Impressum</a></p>
  </div>
</footer>
