<footer class="site-footer">
  <div class="wrapper">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    <div class="social-links">
      <a href="mailto:internationalberlincommunity@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="https://twitter.com/your-twitter-username"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/your-github-username"><i class="fab fa-github"></i></a>
      <a href="https://www.facebook.com/internationalberlincommunitye"><i class="fab fa-facebook"></i></a>
      <a href="http://www.instagram.com/internationalberlinhiking"><i class="fab fa-instagram"></i></a>
      <a href="https://t.me/+0lxSMmua_rYyYzhk"><i class="fab fa-telegram"></i></a>
      <a href="https://chat.whatsapp.com/KvFKTUWcWrd6lhff5YlIow"><i class="fab fa-whatsapp"></i></a>
    </div>
    <p class="footer-contact"><a href="/contact/">Contact Us</a> | <a href="/impressum/">Impressum</a></p>
  </div>
</footer>
