<header class="site-header">
  <a href="{{ '/' | relative_url }}" class="site-logo">
    <div class="logo-icon">
      IBC
    </div>
  </a>
  <nav class="site-nav">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about/' | relative_url }}">About Us</a></li>
      <li><a href="{{ '/impressum/' | relative_url }}">Impressum</a></li>
      <li><a href="{{ '/programs/' | relative_url }}">Programs</a></li>
      <li><a href="{{ '/team/' | relative_url }}">Team</a></li>
      <li><a href="{{ '/rules/' | relative_url }}">Rules</a></li>
      <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    </ul>
  </nav>
</header>
