<header class="site-header">
  <a href="{{ site.url }}{{ site.baseurl }}/" class="site-logo">
    <div class="logo-icon">IBC</div>
    <div class="logo-text">International Berlin Community</div>
  </a>
  <nav class="site-nav">
    <div class="hamburger" id="hamburger-menu">
      <i class="fas fa-bars"></i>
    </div>
    <ul id="nav-links">
      <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/about/">About Us</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/impressum/">Impressum</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/programs/">Programs</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/team/">Team</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/rules/">Rules</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/contact/">Contact</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/statutes/">Statutes</a></li>
      <li><a href="#" class="dark-mode-toggle"><i class="fas fa-moon"></i></a></li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggleButton = document.querySelector('.dark-mode-toggle');
    const body = document.body;

    // Check if dark mode was previously enabled
    if (localStorage.getItem('darkMode') === 'enabled') {
      body.classList.add('dark-mode');
      toggleButton.innerHTML = '<i class="fas fa-sun"></i>';
    }

    toggleButton.addEventListener('click', () => {
      body.classList.toggle('dark-mode');

      // Save the current mode to localStorage
      if (body.classList.contains('dark-mode')) {
        localStorage.setItem('darkMode', 'enabled');
        toggleButton.innerHTML = '<i class="fas fa-sun"></i>';
      } else {
        localStorage.setItem('darkMode', 'disabled');
        toggleButton.innerHTML = '<i class="fas fa-moon"></i>';
      }
    });

    const hamburger = document.getElementById('hamburger-menu');
    const navLinks = document.getElementById('nav-links');

    hamburger.addEventListener('click', () => {
      navLinks.classList.toggle('active');
    });
  });
</script>
