<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International Berlin Community</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header class="site-header">
  <a href="{{ site.url }}{{ site.baseurl }}/" class="site-logo">
    <div class="logo-icon">IBC</div>
    <div class="logo-text">International Berlin Community</div>
  </a>

  <div class="hamburger" id="hamburger-menu">
    <i class="fas fa-bars"></i>
  </div>

  <nav class="site-nav">
    <ul id="nav-links">
      <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/about/">About Us</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/impressum/">Impressum</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/programs/">Programs</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/team/">Team</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/rules/">Rules</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/contact/">Contact</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/statutes/">Statutes</a></li>
      <li><a href="#" class="dark-mode-toggle"><i class="fas fa-moon"></i></a></li>
    </ul>
  </nav>
</header>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const toggleButton = document.querySelector('.dark-mode-toggle');
    const body = document.body;

    // Check if dark mode was previously enabled
    if (localStorage.getItem('darkMode') === 'enabled') {
      body.classList.add('dark-mode');
      toggleButton.innerHTML = '<i class="fas fa-sun"></i>';
    }

    toggleButton.addEventListener('click', () => {
      body.classList.toggle('dark-mode');

      // Save the current mode to localStorage
      if (body.classList.contains('dark-mode')) {
        localStorage.setItem('darkMode', 'enabled');
        toggleButton.innerHTML = '<i class="fas fa-sun"></i>';
      } else {
        localStorage.setItem('darkMode', 'disabled');
        toggleButton.innerHTML = '<i class="fas fa-moon"></i>';
      }
    });

    const hamburger = document.getElementById('hamburger-menu');
    const navLinks = document.querySelector('.site-nav');

    hamburger.addEventListener('click', () => {
      navLinks.classList.toggle('active');
    });
});
</script>

</body>
</html>
